<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="scripts/utils.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		
		<!-- 3d Model Viewer -->
		<!-- Import the component -->
		<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
		<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
		
		<link rel="stylesheet" href="https://use.typekit.net/mnh5ihx.css">
		<link rel="stylesheet" href="stylesheets/fonts.css">
		<link rel="stylesheet" href="stylesheets/utils.css">
		<link rel="stylesheet" href="stylesheets/main.css">
	</head>
	<body>

	<header class="landing-page">

		<div class="landing-page__content">

		<h1 class="landing__name">Connor Winiarczyk.com</h1>
		<p> This is a place for me to show off some of the cool stuff I've worked on.</p>

		</ul>

		</div>		

	</header>

	<section class="gallery page">
		{{#each gallery}}
		<a href="#{{id}}" class="gallery__item">
			<img class="gallery__image" src="{{image}}">
			<p class="gallery__caption">{{title}}</p>
		</a>
		{{/each}}
	</section>

	{{#each gallery}}
	<div class="lightbox" id="{{id}}">
		<div class="lightbox__content">
			<a href="#" class="btn btn--close"></a>
			<img class="lightbox__image" src="{{image}}">
			<h3 class="lightbox__title">Title</h3>
			<p class="lightbox__body">The body</p>
		</div>
	</div>
	{{/each}}

	<section class="page page--home tab active" data-link="home">
		<ul>
			{{#each pages}}	
			<li class="page-link">
			<a href="#{{link}}">
				<h2>{{title}}</h2>

				{{#if image}}
				<img src="{{image}}" alt="{{image}}">
				{{/if}}

				<h3>{{subtitle}}<h3>
			</a>
			</li>
			{{/each}}
		</ul>
	</section>

	{{#each pages}}	
	<section class="page page--{{link}} tab" data-link="{{link}}">
		{{{html}}}
	</section> 
	{{/each}}

	</body>
</html>
